/* ALL PAGES */
body {
    background-color: lightcyan;
}

#main-nav {
  background-color: lightpink;
  text-align: center;
}

#main-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;  
  text-align: center;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-nav ul li{
  display: inline-block;
  padding: 10px;
}

/* style links */
#main-nav ul li a{
  color: rgb(149, 139, 139);    
  text-decoration: none;
}

/* changes background on links when you hover */
#main-nav li:hover{
  background-color: blanchedalmond;
}


/* CSS where the audio information */
.audio-box{
background-color: lightseagreen;
font-family:'Courier New', Courier, monospace;
color:black;
border: 2px solid black;
padding: 5px;
margin: 10px;
width: 45%;
display: block;
margin-left: auto;
margin-right: auto;
}


/* HOME PAGE */
/* CSS for the box around the two buttons and the two fun buttons*/
.button-box{
    padding: 5px;
    margin: 10px;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 100px;
  margin-top: 20px;
}


.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  background-color: white;
}


.fun-button-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* CSS for fun buttons*/
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* CSS for the box where the quote is loaded  */
.quote-box{
    background-color: white;
    color:black;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* STOCK PAGE*/
#stocks-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}



/* DOG PAGE */
/* CSS for the carousel */
#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  height: 100%;
}

#carousel img {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}


#dog-info{
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  display: none;
  background-color: plum;
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 8px;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
